{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 52.19896713716905,
        "longitude": 20.793220152208434,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Dom",
        "time_zone": "Europe/Warsaw",
        "external_url": null,
        "internal_url": null
    }
}